<TableTemplate Items="Products">
    <TableHeader>
        <th>Name</th>
        <th>Quantity</th>
        <th>Total</th>
    </TableHeader>
    <RowTemplate>
        <td>@context.Name</td>
        <td>@context.Quantity</td>
        <td>@context.Total</td>
    </RowTemplate>
</TableTemplate>