@page "/settings"

@using FinanceTracking.Shared.Settings

<link href="/Styles/style.css" rel="stylesheet" type="text/css" />
<div id="rcorners1">
    <ColorPicker />
</div>
<br />
<ValueSettings/>
