@using FinanceTracking.Enums

    <select @bind="@CurrentCurrency">
        @foreach (var vv in Enum.GetValues(typeof(Currencies)))
        {
            <option>@vv</option>
        }
    </select>

